<hello name="{{ name }}"></hello>
<h2> GitHub's Santana's Repos </h2>

<table border="1">
  <tr>
    <th> ID </th>
    <th> LINK </th>
  </tr>
  <tr *ngFor="let repo of gitHubService.repos">
    <td> {{ repo.id }} </td>
    <td> {{ repo.full_name }} </td>
  </tr>
</table>
<hr/>

<h2> BitCoin $ &nbsp; <button (click)="updateBitcoinRates()"> Atualizar </button> </h2>
<p> 
  <strong> Countdown: </strong> {{ timer.getCounter() }}
</p>

<table border="1">
  <tr>
    <th> Data/Hora </th>
    <th> USD </th>
    <th> BRL </th>
  </tr>
  <tr *ngFor="let rate of this.bitcoinService.list">
    <td> {{ rate.time.updated }} </td>
    <td> {{ rate.bpi.USD.rate_float }} </td>
    <td> {{ rate.bpi.BRL.rate_float }} </td>
  </tr>
</table>